<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846714702673-0h4blvbuhsl66aeablh1unfhgnnlg1h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846714702673-0h4blvbuhsl66aeablh1unfhgnnlg1h1</string>
	<key>API_KEY</key>
	<string>AIzaSyCrDtR7b6w94M8fsCVeGYShR0ANHxwBQ5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>846714702673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moscow</string>
	<key>PROJECT_ID</key>
	<string>i-moscow</string>
	<key>STORAGE_BUCKET</key>
	<string>i-moscow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846714702673:ios:3f2ee1d42dc135e59d6170</string>
</dict>
</plist>